@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    font-family: 'Open Sans';
    scroll-behavior: smooth;

  }
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 20px;
}

*::selection {
  color: #7EB693;
  background: #ffff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: #7EB693;
  border-radius: 10px;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}